{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% if content.field_media_reference_media|field_value|length > 1 %}
 {% set col = "col-sm-6 col-md-6 media-ref-items" %}
{% else %}
  {% set col = "col-sm-12 col-md-12" %}
{% endif %}
{%
set classes = [
  'paragraph',
  'media-reference',
  paragraph.bundle|clean_class,
  view_mode ? view_mode|clean_class,
  'clearfix',
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ content.contextual_links }}
  {% if content.field_title|field_value or content.field_sub_title|field_value %}
    <div class="paragraph__header">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      {% if content.field_title_link|field_value %}
        <a href="{{ content.field_title_link|field_value }}"{{ content.field_title_link|quickedit_attr }}>
      {% endif %}
      <h2{{ content.field_title|quickedit_attr }}>{{ content.field_title|field_value }}
        {% if content.field_sub_title|field_value %}
          <span class="sub-title"{{ content.field_sub_title|quickedit_attr }}>{{ content.field_sub_title|field_value }}</span>
        {% endif %}
      </h2>
      {% if content.field_title_link|field_value %}
        </a>
      {% endif %}
    </div>
  {% endif %}
  <div class="paragraph__content">
    {% for key, media in content.field_media_reference_media if key|first != '#' %}
      <div class="{{ cycle(['odd', 'even'], loop.index0) }} {{ col }}">
        {{ media }}
      </div>
    {% endfor %}
  </div>
</div>
